<mat-card *ngIf="!!person && !!person.status.availability"
[ngStyle]="{'background-image': background}" class="{{cardCSS}}">

  <mat-card-header>
    <div *ngIf="loadedStyles; else noPicture" mat-card-avatar (click)="onPictureClick()" class="example-header-image" [ngClass]="{'edit-picture': editMode}" class="{{cardimageCSS}}"[ngStyle]="{'color': person.status.availability.color, 'background-image': picture}"></div>
    <mat-card-title (click)="onTitleClick()" [ngStyle]="{'color': fontcolor}">{{person.name}}</mat-card-title>
    
    <ng-template #noPicture>
      <app-status-icon [color]="person.status.availability.color" [size]="20"></app-status-icon>
    </ng-template>
    
    <mat-card-subtitle [ngStyle]="{'color': fontcolor}">
      {{person.status.availability.status}}
       - 
      {{person.status.message}}
    </mat-card-subtitle>
  </mat-card-header>
        <mat-card-content *ngIf="detailed">
        </mat-card-content>
    </mat-card>