mat-card-title {
    justify-content: start;
}
mat-card-subtitle {
    color: black;
}
mat-card-title > app-status-icon{
    margin-right: 10px;  
}
mat-card-header {
    width: 50vmin;
    height: 50vmin;
}

mat-card-header > .edit-picture:hover{
    opacity: 80%;
    transition: opacity 0.5s;
}

mat-card-header > .example-header-image {
    background-size: cover;
    outline: 5px solid;
    min-width: 100px;
    min-height: 100px;
    width: 50vmin;
    height: 50vmin;
}
mat-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}