<div class="config-layout">
  <div class="config-list-view">
    <mat-list #configs >
      <mat-list-item (click)="newConfig()"  class="input">
        <span>+ add Config</span>
      </mat-list-item>
      <mat-list-item (click)="onConfigChange(config)" *ngFor="let config of newConfigs" [ngClass]="{selected: config._id === selectedConfig._id}" class="input">
        {{config.name}}
      </mat-list-item>
      <mat-list-item (click)="onConfigChange(config)" *ngFor="let config of availableConfigs" [ngClass]="{selected: config._id === selectedConfig._id}"  class="input">
        {{config.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="!!selectedConfig">
    <div class="">Input Config Name:
      <div class="example-button-row">
        <mat-form-field>
          <input matInput placeholder="Ex. Luleå Config 1" [(ngModel)]="selectedConfig.name">
        </mat-form-field>
        <br>
        <button class="admin-button" mat-raised-button (click)="sendConfig()">Update Config</button>
      </div>
    </div>
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Selected People</mat-label>
      <mat-chip-list #chipList aria-label="Person selection">
        <mat-chip *ngFor="let person of selectedConfig.users" (removed)="remove(person)">
          {{person.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="Select People..." #personInput [formControl]="configCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let person of filteredPersons | async" [value]="person">
          {{person.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-label>Users to choose from</mat-label>
    </mat-form-field>
    <br>
    <button class="admin-button" *ngIf="!selectedConfig.new" mat-raised-button (click)="deleteConfig()" color="warn">Delete Config</button>
  </div>
</div>