<div class="content">
  <!-- Adds buttons for each admin functionality that of interest -->
  <div class="buttons">  
    <button mat-icon-button (click)="navigateTo('config')">
      <mat-icon>assignment</mat-icon>
    <p>Configs</p>
    </button>
    <button mat-icon-button >
      <mat-icon (click)="navigateTo('device')">devices</mat-icon>
    <p>Devices</p>
    </button>
    <!-- Logging has not yet been implemented, this is a dead link -->
    <button mat-icon-button >
      <mat-icon (click)="navigateTo('logging')">query_stats</mat-icon>
    <p>Statistics</p>
    </button>
    <button mat-icon-button >
      <mat-icon (click)="navigateTo('style')">style</mat-icon>
    <p>Style Edit</p>
    </button>
    
  <div>  
</div>