<div *ngIf="!!config; else noConfig" class="container">
    <div class="column-1">
        <p-carousel #carousel *ngIf="userdata.length>1; else oneCard" [value]="userdata" [numVisible]="1"
            [numScroll]="1" [verticalViewPortHeight]="'100%'" [autoplayInterval]="3000" [circular]="true"
            [showNavigators]="false" [showIndicators]="false" orientation="horizontal">
            <ng-template let-user pTemplate="item">
                <app-person-card #appCard [person]="user">
                </app-person-card>
            </ng-template>
        </p-carousel>
        <ng-template #oneCard>
            <app-person-card #appCard *ngIf="userdata.length>0" [person]="userdata[0]">
            </app-person-card>
        </ng-template>
    </div>
</div>

<ng-template #noConfig>
    <span>
        No config has been set, please wait while admin assigns you a configuration
        <br>
        This is Device: {{uuid}}
    </span>
</ng-template>