<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Selected People</mat-label>
    <mat-chip-list #chipList aria-label="Person selection">
      <mat-chip
        *ngFor="let person of selectedPersons"
        (removed)="remove(person)">
        {{person.name}}
        <button matChipRemove>
          <mat-icon >cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Select People..."
        #personInput
        [formControl]="configCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let person of filteredPersons | async" [value]="person">
        {{person.name}}
      </mat-option>
    </mat-autocomplete>
 </mat-form-field>